.root {
    width: 100%;
    margin: 0 auto;
    clear: both;
    border-collapse: separate;
    border-spacing: 0;
}

.root > thead > tr > th {
    cursor: pointer;
    position: relative;
    padding-right: 26px !important;
    white-space: nowrap;
    padding: 10px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.3);
    text-align: left;
    box-sizing: content-box;
}

.root > tfoot > tr > th {
    position: relative;
    padding-right: 26px;
    white-space: nowrap;
    padding: 10px;
    border-top: 1px solid rgba(0, 0, 0, 0.3);
    text-align: left;
    box-sizing: content-box;
}

.root > tbody > tr > td {
    border-top: 1px solid rgba(0, 0, 0, 0.15);
}

.root > tbody > tr:first-child > td {
    border-top: none;
}

.sorting {
    -st-states: sortingAsc, sortingDesc, isSorted;
}

.sorting::before {
    position: absolute;
    display: block;
    opacity: 0.125;
    right: 10px;
    line-height: 9px;
    font-size: 0.8em;
    bottom: 51%;
    right: 0;
    content: "▲";
}

.sorting::after {
    position: absolute;
    display: block;
    opacity: 0.125;
    right: 10px;
    line-height: 9px;
    font-size: 0.8em;
    top: 51%;
    right: 0;
    content: "▼";
}

.sorting:sortingAsc::before {
    opacity: 0.6;
}
.sorting:sortingAsc::after {
    opacity: 0.125;
}
.sorting:sortingDesc::after {
    opacity: 0.6;
}

.sorting:sortingDesc::before {
    opacity: 0.125;
}



.root > tbody > tr:nth-child(odd) {
    box-shadow: inset 0 0 0 9999px rgb(0 0 0 / 2%);
}

.root > tbody > tr:nth-child(odd) > td:first-child {
    box-shadow: inset 0 0 0 9999px rgb(0 0 0 / 5%) !important;
}

.root > tbody > tr:hover > td:first-child {
    box-shadow: inset 0 0 0 9999px rgb(0 0 0 / 8%);
}

.root > tbody > tr > td {
    padding: 9px 10px;
}

.root > tbody > tr:hover {
    box-shadow: inset 0 0 0 9999px rgb(0 0 0 / 4%);
}

.root > tbody > tr > td:first-child {
    box-shadow: inset 0 0 0 9999px rgb(0 0 0 / 2%);
}

/* .name {
    width: 146px;
}

.position {
    width: 192px;
}

.office {
    width: 89px;
}

.extn {
    width: 35px;
}

.StartDate {
    width: 78px;
} */
